body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    background-color: rgb(255, 255, 255);
    padding-top: 0mm;
    padding-left: 10mm;
    padding-right: 10mm;
    // max-width: 210mm;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.2;
    float: none !important;
    margin: auto;
    display: grid;
    grid-template-columns: 10vw 210mm 10vw;
    column-gap: 20px;
    justify-content: center;

    .date-personale {
        text-align: start;
    }

    .date-imobil {
        text-align: start;
    }

    h1.indent {
        text-indent: 40px;
    }

    h1 {
        text-align: center;
        font-size: 1rem;
    }

    p {
        margin-bottom: 3px;
        margin-top: 3px;
    }

    p.indent {
        text-indent: 40px;
    }

    ol {
        margin-top: 5px;
        margin-bottom: 5px;
    }

}
.left-menu, .right-menu{
    text-align: left;
    margin-top: 50px;
    
}
.formular{
    grid-column: 2;
}

pagina {
    display: block;
    page-break-after: always;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 10mm;
    padding-right: 10mm;
    border: 1px solid black;
    box-shadow: 10px 11px 5px -4px rgba(0, 0, 0, 0.55);

    .nota-subsol {
        border-top: 1px solid black;
        font-size: 0.5rem;
        clear: both;
        position: relative;

        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }


}

input {
    padding: 0;
    margin: 0;
}

.proprie-raspundere {
    border: thick solid black;

    text-align: center;
    padding: 5px;
}


@media print {
    body{
        padding-top: 0mm;
        // padding-left: 20mm;
        // padding-right: 20mm;
        padding-bottom: 0mm;    
        // margin-left: 20mm;
        // margin-right: 20mm;
    }
    
    .formular{
        grid-column: 2;
    }
    
    @page {
        margin: 0mm;
        size: 210mm 297mm;
    }

    .left-menu,
    .right-menu {
        visibility: hidden;
    }

    body{
        grid-template-columns: 0mm 100% 0mm;
    }

    pagina {
        // width: 100%;
        border: none;
        box-shadow: none;
        // padding: 0;

        margin-top: 10mm;
        /* margin you want for the content */
        margin-left: 0mm;
        /* margin you want for the content */
        margin-bottom: 10mm;
        /* margin you want for the content */
        margin-right: 0mm;
        /* margin you want for the content */
        // padding-top: 0mm;

    }
    .nota-subsol{
        position: absolute;
        bottom: 0px;
        
    }
}