
    $base-color:#343a40;
    $border-light:#acacac;
    $border-dark:#343a40;

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    background-color: rgb(255, 255, 255);
    padding-top: 0mm;
    padding-left: 10mm;
    padding-right: 10mm;
    // max-width: 210mm;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.2;
    float: none !important;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 210mm 1fr;
    column-gap: 20px;
    justify-content: center;

    .date-personale {
        text-align: start;
    }

    .date-imobil {
        text-align: start;
    }

    h1.indent {
        text-indent: 40px;
    }

    h1 {
        text-align: center;
        font-size: 1rem;
    }

    p {
        margin-bottom: 3px;
        margin-top: 3px;
    }

    p.indent {
        text-indent: 40px;
    }

    ol {
        margin-top: 5px;
        margin-bottom: 5px;
    }

}
.small-note{
    font-size: 0.8rem;
    color: #343a40;
    font-style: italic;
}

.left-menu, .right-menu{
    text-align: left;
    margin-top: 50px;
    
}
.right-menu{
    p{
        font-size: 2rem;
        font-family:  Rubik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
        font-weight: 500;
        // margin-left: 20px;
        color: #343a40;
        letter-spacing: -0.04em;
    }    
    .social-buttons{
        display: flex;
        align-items: center;
        a{
            margin-right: 10px;
        }
    }
}

iframe{
    .roadmap-column{
        min-height: auto;
    }
}

//Setting the main form to middle of the body grid
.formular{
    grid-column: 2;
}

pagina {
    display: block;
    page-break-after: always;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 10mm;
    padding-right: 10mm;
    border: 1px solid $border-light;
    box-shadow: 10px 11px 5px -4px rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    .nota-subsol {
        border-top: 1px solid black;
        font-size: 0.5rem;
        clear: both;
        position: relative;

        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }


}

input {
    padding: 0;
    margin: 0;
}

.proprie-raspundere {
    border: thick solid black;
    text-align: center;
    padding: 5px;
}


@media print {
    
    
    
    @page {
        margin: 0mm;
        size: A4 portrait;
    }
    body{
        padding: 0;
        // padding-left: 20mm;
        // padding-right: 20mm;
            
        // margin-left: 20mm;
        // margin-right: 20mm;
        // margin: 0;
        max-width: 210mm;
        grid-template-columns: 0mm 100% 0mm;
        zoom: 150%;
    }
    .formular{
        grid-column: 2;
    }

    .left-menu,
    .right-menu {
        visibility: hidden;
    }

    pagina {
        // width: 100%;
        border: none;
        box-shadow: none;
        // padding: 0;
        margin:0;
        padding-left: 20mm;
        padding-right: 20mm;
        padding-top: 5mm;
        padding-bottom: 0mm;

    }
    .nota-subsol{
        position: absolute;
        bottom: 0px;
        
    }
}